body {
  margin: 0px;
}
#page, #site_bar_content, footer, header {
  width: 1000px;
  margin: 0px auto;
}
#body_content_left {
  float: left;
  width: 600px;
}
#body_content_right {
  float: right;
  width: 400px;
}
#body_content_left .inner {
  padding-right: 10px;
}     
#body_content_right .inner {
  padding-left: 10px;
}     
#body_content.no_body_content_left #body_content_right,
  #body_content.no_body_content_right #body_content_left {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.menu ul {
  margin: 0px;
  padding: 0px;
}
.menu li {
  padding: 0px;
  margin: 0px 9px 0px 0px;
  list-style: none;
  float: left;
}
.menu li.last {
  margin-right: 0px;
}
.menu li.selected > a {
  font-weight: bold;
}
.inquiries form label {
  width: 150px;
  float: left;
}
.inquiries form input {
  width: 200px;
}
.inquiries form input, .inquiries form textarea {

}
.inquiries form textarea {

}
.inquiries form .actions {
  margin-left: 150px;
}
.inquiries form .actions input {
  width: auto;
}
.inquiries .field {
  margin: 12px 0px;
}
.inquiries form {
  padding-top: 12px;
}
.page_not_live {
  border: 1px solid #A00027;
  color: #A00027;
  background: #FFB1B1;
  padding:3px 9px;
  font-weight:bold;
  width:auto;
}

/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

/* Default error colouring */

article, nav, header, footer, aside, hgroup, section{
	display:block;
}

div.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  border-top: 3px solid #F27F7F;
  background: #FFBEBE;
  padding: 10px;
}

#errorExplanation, #errorExplanation *, .fieldWithErrors, .fieldWithErrors * {
  color: #9C2626;
}

/* Browser Hacks */

/* remove borders from images */

a img {
  border: 0px none;
}

/*
Firefox Dotted Line Fix
  - http://sonspring.com/journal/removing-dotted-links
*/
a:focus {
  outline: none;
}

/*
Clearfix docs
 - Main docs: http://positioniseverything.net/easyclearing.html
 - IE7 change: http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/
*/
.clearfix:after, section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix, section {
  display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix, section {
  display:block;
}
/* End hide from IE Mac */

/*
  Override default refinery formatting below.
  Formatting applies to backend WYSIWYG editors and all frontend.
*/

/* alignment styles */
.text-align-left  {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}

/* block alignment styles */
.image-align-left {
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}
.image-align-right {
  float: right;
  margin-left: 6px;
  margin-bottom: 6px;
}

/* font sizes */
.font-size-small {
  font-size: 0.75em;
}
.font-size-normal {
  font-size: 1em;
}
.font-size-large {
  font-size: 1.25em;
}

/*
  Override default refinery 'theme' styles here.
  These only apply when using custom WYMeditor CSS.
*/