<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Tetalab" />
  <meta name="description" content="Hello – We're Tetalab - Hackerspace Toulouse" />
  <title>Tetalab</title>

  <link rel="alternate" type="application/rss+xml" href="http://tetalab.org/blog/feed.rss" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/blog.css" />
  <link rel="stylesheet" href="/css/monokai.css" />
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css' />
  <link rel="shortcut icon" href="http://tetalab.org/images/favicon.ico" />
  </head>
  <body>

    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <nav>
      <a href="/"><img class="me" src="/images/tetalab.png" alt="mug" /></a>

      <h2>Hi, We're Tetalab</h2>
      <h3>
        We write <a href="https://git.tetalab.org">code</a>,<br>
        we <a href="/">blog</a>,<br>
        we have a <a href="http://lists.tetalab.org/listinfo/tetalab">mailing list</a>,<br>
        we <a href="http://twitter.com/tetalab">tweet</a>,<br>
        we <a href="http://www.vimeo.com/groups/tetalab/videos">record videos</a>,<br>
        we have a <a href="http://tetalab.org/pressbook">PressBook</a><br>
        and <a href="http://wemakeporn.tetalab.org">we make porn</a>.</h3>
      <h2>About Tetalab</h2>
      <h3>Le Tetalab est un <a href="http://hackerspaces.org">hackerspace</a> toulousain. Nous nous réunissons tous les mercredi soir à partir de 21h à <a href="mixart-myrys.org">Mixart Myrys</a>, 12 rue Ferdinand Lasalle.</h3>

      <div class="footer">
        <a href="http://tetalab.org/blog/feed.rss" class="rss"></a>
        <a href="mailto:contact@tetalab.org" class="email"></a>
      </div>
    </nav>

    <section>
      <%= yield %>
    </section>

  </body>
</html>

